## Preparation

In [ ]:
from edge_tools.utils.nb import change_to_root_dir

change_to_root_dir("alpha")

Now in: /Users/ducjeremyvu/alpha

In [6]:

import duckdb


DUCKDB_PATH = "local.duckdb"

con = duckdb.connect(DUCKDB_PATH)

### Write from File

In [7]:
symbol = "US500"

# file outside of project,
# contains minute data with columns: Time, Open, High, Low, Close, Volume
#
#

file_path_csv = "/Users/ducjeremyvu/trading/price_data/US500_Minute_20251107_1228.csv"

insert_query = f"""
INSERT INTO ohlcv_minute (symbol, time, open, high, low, close, volume)
SELECT
    '{symbol}' AS symbol,  -- << your asset name here
    (CAST(Time AS TIMESTAMP) AT TIME ZONE 'UTC') AS time,
    CAST(Open AS DOUBLE) AS open,
    CAST(High AS DOUBLE) AS high,
    CAST(Low AS DOUBLE) AS low,
    CAST(Close AS DOUBLE) AS close,
    CAST(Volume AS BIGINT) AS volume
FROM read_csv_auto('{file_path_csv}')
ON CONFLICT (symbol, time) DO NOTHING;
"""



print(insert_query)


con.execute(insert_query)

INSERT INTO ohlcv_minute (symbol, time, open, high, low, close, volume)
SELECT
    'US500' AS symbol,  -- << your asset name here
    (CAST(Time AS TIMESTAMP) AT TIME ZONE 'UTC') AS time,
    CAST(Open AS DOUBLE) AS open,
    CAST(High AS DOUBLE) AS high,
    CAST(Low AS DOUBLE) AS low,
    CAST(Close AS DOUBLE) AS close,
    CAST(Volume AS BIGINT) AS volume
FROM read_csv_auto('/Users/ducjeremyvu/trading/price_data/US500_Minute_20251107_1228.csv')
ON CONFLICT (symbol, time) DO NOTHING;

In [14]:
# delete

con.execute("DELETE FROM ohlcv_minute WHERE symbol = 'US500';")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

## Queries

In [38]:
con.execute(f"""
select * from ohlcv_minute
where symbol = 'US500'
order by time desc            
limit 10;
""").df()

,symbol,time,open,high,low,close,volume,added_at
0,US500,2025-11-06 16:17:00+01:00,6761.3,6766.3,6761.1,6765.6,76,2025-11-06 19:20:56.090856+01:00
1,US500,2025-11-06 16:16:00+01:00,6756.1,6763.1,6755.8,6761.1,176,2025-11-06 19:20:56.090856+01:00
2,US500,2025-11-06 16:15:00+01:00,6755.1,6756.8,6751.3,6755.8,172,2025-11-06 19:20:56.090856+01:00
3,US500,2025-11-06 16:14:00+01:00,6756.3,6757.8,6753.8,6754.8,152,2025-11-06 19:20:56.090856+01:00
4,US500,2025-11-06 16:13:00+01:00,6756.1,6758.1,6756.0,6756.6,158,2025-11-06 19:20:56.090856+01:00
5,US500,2025-11-06 16:12:00+01:00,6763.7,6763.8,6756.3,6756.3,174,2025-11-06 19:20:56.090856+01:00
6,US500,2025-11-06 16:11:00+01:00,6764.3,6766.3,6762.8,6763.3,162,2025-11-06 19:20:56.090856+01:00
7,US500,2025-11-06 16:10:00+01:00,6756.8,6764.3,6756.6,6764.1,184,2025-11-06 19:20:56.090856+01:00
8,US500,2025-11-06 16:09:00+01:00,6757.1,6759.1,6755.0,6757.1,164,2025-11-06 19:20:56.090856+01:00
9,US500,2025-11-06 16:08:00+01:00,6757.1,6758.6,6753.8,6756.8,174,2025-11-06 19:20:56.090856+01:00

In [55]:
con.execute("""
            
SELECT 
    symbol,     
    timezone('UTC',time) as utc_time, 
    open,
    high,
    low,
    close,
    volume 
FROM ohlcv_minute 
where strftime(utc_time, '%Y-%m-%d') == '2025-11-05' 
order by utc_time            
""").df()

     symbol            utc_time    open    high     low   close  volume
0     US500 2025-11-05 00:00:00  6768.7  6768.7  6767.9  6768.0      80
1     US500 2025-11-05 00:01:00  6768.1  6768.1  6766.5  6767.9     103
2     US500 2025-11-05 00:02:00  6767.7  6767.7  6765.0  6765.2      90
3     US500 2025-11-05 00:03:00  6765.5  6765.9  6763.5  6763.5      63
4     US500 2025-11-05 00:04:00  6763.6  6764.0  6761.5  6762.2      97
...     ...                 ...     ...     ...     ...     ...     ...
1374  US500 2025-11-05 23:55:00  6809.1  6809.6  6808.6  6809.1      75
1375  US500 2025-11-05 23:56:00  6808.9  6809.3  6808.7  6809.2      53
1376  US500 2025-11-05 23:57:00  6809.1  6811.1  6809.1  6811.1      54
1377  US500 2025-11-05 23:58:00  6810.9  6811.5  6810.8  6811.3      37
1378  US500 2025-11-05 23:59:00  6811.4  6811.6  6811.3  6811.3      16

[1379 rows x 7 columns]

In [ ]:


con.execute("SELECT * FROM ohlcv_minute order by time DESC LIMIT 100").df()

,symbol,time,open,high,low,close,volume,added_at
0,US500,2025-11-06 16:17:00+01:00,6761.3,6766.3,6761.1,6765.6,76,2025-11-06 19:20:56.090856+01:00
1,US500,2025-11-06 16:16:00+01:00,6756.1,6763.1,6755.8,6761.1,176,2025-11-06 19:20:56.090856+01:00
2,US500,2025-11-06 16:15:00+01:00,6755.1,6756.8,6751.3,6755.8,172,2025-11-06 19:20:56.090856+01:00
3,US500,2025-11-06 16:14:00+01:00,6756.3,6757.8,6753.8,6754.8,152,2025-11-06 19:20:56.090856+01:00
4,US500,2025-11-06 16:13:00+01:00,6756.1,6758.1,6756.0,6756.6,158,2025-11-06 19:20:56.090856+01:00
...,...,...,...,...,...,...,...,...
95,US500,2025-11-06 14:42:00+01:00,6816.6,6816.8,6816.1,6816.6,22,2025-11-06 19:20:56.090856+01:00
96,US500,2025-11-06 14:41:00+01:00,6817.6,6817.6,6816.1,6816.3,48,2025-11-06 19:20:56.090856+01:00
97,US500,2025-11-06 14:40:00+01:00,6817.1,6817.6,6816.6,6817.3,34,2025-11-06 19:20:56.090856+01:00
98,US500,2025-11-06 14:39:00+01:00,6816.8,6817.3,6816.3,6817.3,46,2025-11-06 19:20:56.090856+01:00
99,US500,2025-11-06 14:38:00+01:00,6817.1,6817.3,6816.6,6817.1,44,2025-11-06 19:20:56.090856+01:00

# Close

In [29]:
con.close()