## Preparation

In [ ]:
from edge_tools.notebook import change_to_root_dir
import duckdb
from dotenv import load_dotenv
import os 

change_to_root_dir()

load_dotenv()

DUCKDB_PATH = os.getenv("DUCKDB_PATH", "local.duckdb")

con = duckdb.connect(DUCKDB_PATH)

Now in: /Users/ducjeremyvu/alpha

show all tables

In [8]:
import pandas as pd


con.execute("SELECT * FROM duckdb_tables;").df()

,database_name,database_oid,schema_name,schema_oid,table_name,table_oid,comment,tags,internal,temporary,has_primary_key,estimated_size,column_count,index_count,check_constraint_count,sql
0,local,602,main,590,ohlcv_minute,593,None,{},False,False,True,4115346,8,1,0,"CREATE TABLE ohlcv_minute(symbol VARCHAR, ""tim..."

In [15]:
from edge_tools.dir import get_sql_query 

query = get_sql_query("get_all_dates.sql")

query = """
select DISTINCT time::date as date
from ohlcv_minute
order by date desc
"""

con.execute(query).df()

           date
0    2025-11-07
1    2025-11-06
2    2025-11-05
3    2025-11-04
4    2025-11-03
...         ...
1534 2020-01-02
1535 2019-12-31
1536 2019-12-30
1537 2019-12-27
1538 2019-12-26

[1539 rows x 1 columns]

# Close

In [16]:
con.close()