## Preparation

In [1]:
from edge_tools.notebook import change_to_root_dir

change_to_root_dir()

Now in: /Users/ducjeremyvu/alpha

In [32]:

import duckdb


DUCKDB_PATH = "./local.duckdb"

con = duckdb.connect(DUCKDB_PATH)

In [55]:
con.execute("""
            
SELECT 
    symbol,     
    timezone('UTC',time) as utc_time, 
    open,
    high,
    low,
    close,
    volume 
FROM ohlcv_minute 
where strftime(utc_time, '%Y-%m-%d') == '2025-11-05' 
order by utc_time            
""").df()

     symbol            utc_time    open    high     low   close  volume
0     US500 2025-11-05 00:00:00  6768.7  6768.7  6767.9  6768.0      80
1     US500 2025-11-05 00:01:00  6768.1  6768.1  6766.5  6767.9     103
2     US500 2025-11-05 00:02:00  6767.7  6767.7  6765.0  6765.2      90
3     US500 2025-11-05 00:03:00  6765.5  6765.9  6763.5  6763.5      63
4     US500 2025-11-05 00:04:00  6763.6  6764.0  6761.5  6762.2      97
...     ...                 ...     ...     ...     ...     ...     ...
1374  US500 2025-11-05 23:55:00  6809.1  6809.6  6808.6  6809.1      75
1375  US500 2025-11-05 23:56:00  6808.9  6809.3  6808.7  6809.2      53
1376  US500 2025-11-05 23:57:00  6809.1  6811.1  6809.1  6811.1      54
1377  US500 2025-11-05 23:58:00  6810.9  6811.5  6810.8  6811.3      37
1378  US500 2025-11-05 23:59:00  6811.4  6811.6  6811.3  6811.3      16

[1379 rows x 7 columns]

# Close

In [29]:
con.close()